<nav class="navbar navbar-default" role="navigation">
    <div class="container">

        <div class="header" id="header">
            <ul class="nav navbar-nav header">
              <div class="logo"><a href="https://savageinter.net/"><img src="/images/logo.svg"></a></div>
                <a href="https://savageinter.net/">Projects</a>
                <a href="https://savageinter.net/consulting.html">Consulting</a>
                <a href="/"><div class="current">Blog</div></a>
                <a href="https://savageinter.net/team.html">Team</a>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="subscribe-rss" href="{{ site.subscribe_rss }}" title="subscribe via RSS">
                        <span class="visible-xs">RSS</span>
                        <img class="hidden-xs" src="{{ root_url }}/images/rss.png" alt="RSS">
                    </a>
                </li>
            </ul>  
        </div>
    </div>
</nav>
